<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("bekijk voorraden", "Index", "voorraad")</li>
        <li>@Html.ActionLink("overzicht transacties", "Index", "Transactions")</li>
        <li>@Html.ActionLink("nieuwe levering", "CreateFromLeverancier", "Transactions")</li>
        <li>@Html.ActionLink("interne transactie", "CreateInternTransaction", "Transactions")</li>
        <li>@Html.ActionLink("verkoop", "CreateCustomerTransaction", "Transactions")</li>
    </ul>
</div>